*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.invalid{
    color:red;
    display: none;
}
.invalid.true{
    display: block;
}
input.error{
    border: solid 2px red;
}
input.correct{
    border: solid 2px green;
}
.container{
    /* background-color: rgb(75, 75, 75); */
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    padding: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px
}
.first{
    background-color:rgb(255, 255, 255);
    height: 65vh;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px
}
.first #form{
    background-color: rgb(209, 222, 222);
    display: flex;
    height: 100%;
    width: 60%;
    box-shadow: 5px 5px 10px grey;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:10px ;
    gap:20px;
}
.first #form input{
    margin: 2px 0px 15px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-align: center;
    padding: 10px;
}
.first #form button{
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: medium;
    border-radius: 5px;
    border: none;

}
