*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.invalid{
    color:red;
    display: none;
}
.invalid.true{
    display: block;
}
input.error{
    border: solid 2px red;
}
input.correct{
    border: solid 2px green;
}
.container{
    background-color: aliceblue;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    padding: 15px;
}
.first{
    background-color:azure;
    height: 50vh;
}
.first .form{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px ;
}
.first .form input{
    width: 50%;
    display: block;
    margin: 2px 0px 15px 0px;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-align: center;
    padding: 10px;
}
.first .form button{
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: medium;
    border-radius: 5px;
    border: none;

}
